@page "/Person/{Id:int}"
@using BlazorPlaygroundWeb.Components.Person

@if (_isLoading)
{
    <MudText Typo="Typo.h1">Laddar...</MudText>
}
else if(_loadFailed is not null) 
{
    <MudText Typo="Typo.subtitle2" Align="Align.Center">Någonting gick fel vid hämtning av data, vad god försök igen.</MudText>
}
else if(_person is not null)
{
    <CascadingValue Value="ReFetchDataCallback">
        
    <MudGrid>
        <MudItem sm="6">
            <PersonInformationCard PersonObject="_person" />
        </MudItem>
        <MudItem sm="6">
          
        </MudItem>
    </MudGrid>
    </CascadingValue>
}
else
{
    <p>aklsflasdf</p>
}
