@page "/seasons"
@using BlazorPlaygroundWeb.Components
@using BlazorPlaygroundWeb.Enums
<h3>Seasons</h3>

<EnumSelect TEnum="Enums.Season" @bind-SelectedEnum="_selectedSeason" />
<br/>
Vald 책rstid 채r: @_selectedSeason
<br/>
<EnumSelect TEnum="Enums.Category" @bind-SelectedEnum="_selectedCategory" />
<br/>
Vald kategori 채r: @_selectedCategory
<br/>
<br/>
<br/>
<br/>
<MudEnumSelect TEnum="Category" @bind-SelectedEnum="_mudSelectedCategory" />
Vald kategori 채r: @_mudSelectedCategory


@code {
    private Enums.Season _selectedSeason = Enums.Season.Autumn;
    private Enums.Category _selectedCategory = Category.Appetizer;
    private Enums.Category _mudSelectedCategory = Category.Appetizer;
}